---
import Layout from '../layouts/common.astro'    
---
    <Layout title='Blog'>
        <div class="mb-10 p-8 lg:mr-10 lg:ml-10 md:mr-10 md:ml-10 sm:ml-10 sm:mr-10 gap-y-10 gap-x-10  border-gray-200 rounded-2xl shadow-sm grid grid-col-1">
        <div class="text-center bg-white border">
        <p class=" text-gray-400 uppercase text-sm mb-4 mt-6">20 April 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900 mb-4">Blog-1</h3>
        <p class="mb-6 text-gray-500">Content asdof the blog is written here for portfolio.</p>
        </div>
        
        <div class="text-center bg-white border">
        <p class=" text-gray-400 uppercase text-sm mb-4 mt-6">21 April 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900 mb-4">Blog-2</h3>
        <p class="mb-6 text-gray-500">Content of the blog is written here for portfolio.</p>
        </div>
    </div>
    </Layout>
<!--
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Ezo Tool</title>
	</head>

	<body>
    <div class="py-8 bg-gray-200 min-h-screen">
		<nav class="flex justify-center pb-10 space-x-6  lg:space-x-10">
			<a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
			<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
			<a href="/blog" class="font-medium text-gray-800 hover:text-gray-900">Blog</a>
			<a href="/login" class="font-medium text-gray-500 hover:text-gray-900">Login</a>
			<a href="/signup" class="font-medium text-white hover:bg-blue-600 bg-blue-500 px-3 py-2 -mt-2 rounded-lg">Sign up</a>
		</nav>
      	<h1 class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
        	Blog
		</h1>
      
    <div class="mb-10 p-8 md:mr-40 md:ml-40 sm:ml-10 sm:mr-10 gap-y-10 gap-x-10  border-gray-200 rounded-2xl shadow-sm grid grid-col-1">
        <div class="text-center bg-white border">
        <p class=" text-gray-400 uppercase text-sm mb-4 mt-6">20 April 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900 mb-4">Blog-1</h3>
        <p class="mb-6 text-gray-500">Content asdof the blog is written here for portfolio.</p>
        </div>
        
        <div class="text-center bg-white border">
        <p class=" text-gray-400 uppercase text-sm mb-4 mt-6">21 April 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900 mb-4">Blog-2</h3>
        <p class="mb-6 text-gray-500">Content of the blog is written here for portfolio.</p>
        </div>
    </div>
            <footer class="mt-20 pt-12 border-t-2 border-gray-300">
                <nav class="flex justify-center pb-10 space-x-10">
                    <a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
                    <a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
                    <a href="/blog" class="font-medium text-gray-500 hover:text-gray-900">Blog</a>
                </nav>
                <p class="text-center text-gray-400">
                &copy; 2022 Great Tool. All rights reserved.
                </p>
            </footer>
        </div>

	</body>
</html>
-->